# Logs
logs/*
!logs/.gitkeep
*.log

# Reports
python_monitor/reports/*
!python_monitor/reports/.gitkeep

# Python cache
__pycache__/
*.py[cod]

# Environment
python_monitor/.env

# Docker
*.tar

# VS Code
.vscode/
